@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.nav-item {
  position: relative;
  overflow: hidden;
}

/* Add the animated underline on hover */
.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Set your preferred underline thickness */
  background-color: #ff5823; /* Set your preferred underline color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out; /* Adjust the transition duration and timing function as needed */
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fade-up-enter-active {
  transition: opacity 0.5s, transform 0.8s;
}

.fade-up-enter-active-large {
  transition: opacity 0.5s, transform 0.8s;
}

.fade-up-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-up-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.hero-overlay {
  @apply absolute top-0 left-0 w-full h-[80vh] xl:h-[100vh];
}

.techSwiper {
  @apply h-[100%] w-full;
}

.techSwiper .swiper-wrapper {
  padding-bottom: 10px;
  padding-top: 25px;
}


.contact-input {
  border: none;
  background-color: #F3F3F3 ;
  border-bottom: 3px solid #2e02494d; /* Set the color of the bottom border */
  outline: none;
}
.contact-input:focus {
  border-bottom: 3px solid #000; /* Set the color of the bottom border */
}

.contact-input::placeholder {
  color: #2e02494d; /* Set the default placeholder color */
}

.contact-input:focus::placeholder {
  color: #000000; /* Change the color to your desired focus placeholder color */
}

.glass-effect {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.btn {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  /* box-shadow: 0px 0px 20px #d841f7; */
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social .social-item {
  margin: 0 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-item .social-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(0, 0);
  transition: all 0.4s ease;
}

.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
  color: #3b5999;
}

.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}

.social .social-item:nth-child(2) a {
  color: #55acee;
}

.social .social-item:nth-child(2):hover a {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
  background: #55acee;
}

.social .social-item:nth-child(3) a {
  color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
  background: #dd4b39;
}

.social .social-item:nth-child(4) a {
  color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
  background: #e4405f;
}









.social .social-item:nth-child(5) a {
  color: #40C351;
}

.social .social-item:nth-child(5):hover a {
  background: #40C351;
}

.social .social-item:nth-child(5):hover a::before {
  background: #40C351;
}

.social .social-item:nth-child(5):hover a::after {
  background: #40C351;
}


.social .social-item .social-link:hover {
  color: #ffffff;
}




